<div>
  <p><%= @question %></p>
  <p><strong>- You</strong></p>
</div>
<div>
  <p><%= @answer %></p>
  <p><strong>- Your Coach</strong></p>
</div>

<%= link_to "Ask your coach another question", ask_path %>
