<h1>Ask your coach anything!</h1>
<br>
<p>Enter your question below:</p>
<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question" value="<%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>
